@font-face {
    font-family: "PixelUn";
    src: url(../src/font/Pixel.TTF);
}
*{
    font-family: "PixelUn";
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "PixelUn"
}

.mapWater{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/img/treasuremap.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.screenone  {
    display: none;
}

.welcomeTitle{
    margin: 0;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(54, 50, 50);
    font-size: 70px;
    text-shadow: 3px 3px 2px rgb(187, 171, 171);
}

.choosePlayer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
    gap:25px
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:410px;
    height:200px;
    border:5px dotted rgb(47, 36, 36);
    background-color: rgba(39, 36, 36, 0.558);
}

li{
    line-height: 30px;
}

.profile img{
    width: 110px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos{
    color:white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.infos button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 55px;
    background-color: rgba(21, 20, 20, 0.558);
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "PixelUn"
}

.infos button p{
    color: white;
    font-size: 15px;
    margin: 0;
    text-align: center;
    line-height: 25px;
}

.prayerRight{
    display: flex;
    gap:30px;
}

.prayerLeft{
    display: flex;
    gap:30px;
}

.profile a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.profile:hover{
    transform: scale(1.04);
}

.profile a img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Battle screen */
.battleWater{
    display: none;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(11, 53, 51, 0.5), rgba(18, 93, 105, 0.5)), url(../src/img/beautiful-water-view-anime-style_23-2151080248.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


.btnMenu{
    display: flex;
    justify-content: center;
    width:20%;
    position: absolute;
    top: 50px;
    left: 100px;
}
#backMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    background-color: rgba(9, 9, 9, 0.558);
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-family: "PixelUn";

}

/* 4 Boutons attaques */
.attacks{
    width: 480px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    position: absolute;
    top:530px;
    right:70px;

}

.attacks button{
    width: 230px;
    height: 60px;
    background-color: aquamarine;
    border-style: none;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: "PixelUn";
    gap:10px;
}

.attacks button{
    cursor: pointer;
}

.right{
    width: 200px;
    height:auto
}

.right img{
    width: 140px;
    height: auto;
}

.left{
    width: 200px;
    height:auto
}

.left img{
    width: 140px;
    height: auto;
}

.gentil{
    width: 200px;
    right: 200px;
    top: 100px;
    position :absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dotted rgb(232, 173, 83);
    padding:25px;
    border-radius: 50%;
}

.gentil img{
    height: 200px;

}

.ennemy{
    width: 200px;
    height: 200px;
    position :absolute;
    top: 420px;
    left: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ennemy > img {
    height: 200px;
}
.powerGentil{
    animation: damage forwards;
    animation-duration: 0.5s ;
    animation-iteration-count: infinite; 
}

.damage{
    animation: damage forwards;
    animation-duration: 0.5s ;
    animation-iteration-count: infinite;
}

@keyframes damage {
    0% {margin-left:0px}
    25% {margin-left:50px}
    50% {margin-left:100px}
    75% {margin-left:50px}
    100%{margin-left:0px}
}

.moving{
    animation: power forwards;
    animation-duration: 0.5s ;
    animation-iteration-count: infinite;
}

@keyframes power {
    0% {margin-right:0px}
    25% {margin-right:15px}
    50% {margin-right:30px}
    75% {margin-right:15px}
    100%{margin-right:0px}
}
.progressBar{
    display: block;
    flex-direction: column;
    width:120px;
    height: 40px;
    background-color: rgba(211, 196, 196, 0.64);
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    top: 380px;
    right: 270px; 
    border-radius: 20px;
    overflow: hidden;
}

.progres{
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 20px;
}

.progressBarEnnemy{
    display: block;
    flex-direction: column;
    width:120px;
    height: 40px;
    background-color: rgba(211, 196, 196, 0.64);
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    bottom: 100px;
    left: 220px; 
    border-radius: 20px;
    overflow: hidden;
}

.progresEnnemy{
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 20px;

}

.frame{
    display: none;
}

.message{
    border:10px solid rgb(42, 58, 175);
    background-color: rgb(17, 20, 39);
    line-height: 30px;
    padding:15px;
    position: absolute;
    bottom:100px;
    right: 600px;
    width: 340px;
    height: 140px;
    color:white;
    font-size: 20px;
}



/* Class "hide" to apply to remove section */
.hide{
    display: none;
}

.gameOver{
    background-color: grey;
    background-image: url(../src/img/samuel-enslin-180227-jow-dsv-volcano-v06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.over{
    background-color: rgba(32, 29, 29, 0.726);
    color:rgb(125, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: bouncing 1s ease infinite alternate;
    animation-name:boom ;
    margin:0;
    font-size: 70px;
}

@keyframes boom{
    0% {transform:translateY(2px);font-size:30px};
    100% {transform: translateY(-60px); font-size:50px;};
}

.champion{
    background-color: grey;
    background-image: url(../src/img/win.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.win{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    font-size: 50px;
    color: white;
    margin:0;
    animation: bouncing 1s ease infinite alternate;
    animation-name:winning ;
}

@keyframes winning{
    0% {transform:translateY(2px);font-size:30px};
    100% {transform: translateY(-60px); font-size:50px;};
}

audio{
    opacity: 10%;
    width: 50px;
}