body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Audiowide', sans-serif;
}

.mapWater{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/img/treasuremap.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.screenone  {
    display: none;
}

h1{
    margin: 0;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(54, 50, 50);
    font-size: 70px;
    /* font-family: 'Audiowide', sans-serif; */
    text-shadow: 3px 3px 2px rgb(187, 171, 171);
}

.choosePlayer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
    gap:20px
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:400px;
    height:180px;
    border:5px dotted rgb(47, 36, 36);
    background-color: rgba(39, 36, 36, 0.558);
}

li{
    line-height: 30px;
}

.profile img{
    width: 110px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos{
    color:white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.infos button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: rgba(21, 20, 20, 0.558);
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;

}

.infos button p{
    color: white;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.prayerRight{
    display: flex;
    gap:30px;
}

.prayerLeft{
    display: flex;
    gap:30px;
}

.profile a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.profile:hover{
    transform: scale(1.04);
}

.profile a img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Battle screen */


.battleWater{
    display: none;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(11, 53, 51, 0.5), rgba(18, 93, 105, 0.5)), url(../src/img/beautiful-water-view-anime-style_23-2151080248.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

/* .allContainfight{
    width: 100vw;
    height:100vh;
    gap:450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.btnMenu{
    display: flex;
    justify-content: center;
    width:20%;
    position: absolute;
    top: 50px;
    left: 100px;
}
#backMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    background-color: rgba(9, 9, 9, 0.558);
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-family: 'Audiowide', sans-serif;

}

/* 4 Boutons attaques */
.attacks{
    width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    position: absolute;
    top:500px;
    right:200px;

}

.attacks button{
    width: 150px;
    height: 60px;
    background-color: aquamarine;
    border-style: none;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Audiowide', sans-serif;
    gap:10px;
}

.attacks button{
    cursor: pointer;
}

/* .characters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:180px;
    width:100%;
    height:100vh !important;
    /* padding-top: 150px; */
/* } */ */

.right{
    width: 200px;
    height:auto
}

.right img{
    width: 140px;
    height: auto;
}

.left{
    width: 200px;
    height:auto
}

.left img{
    width: 140px;
    height: auto;
}

.gentil{
    width: 200px;
    right: 200px;
    top: 100px;
    position :absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dotted rgb(212, 211, 140);
    padding:25px;
    border-radius: 50%;
}

.gentil img{
    height: 200px;

}

.ennemy{
    width: 200px;
    height: 200px;
    position :absolute;
    top: 420px;
    left: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ennemy > img {
    height: 200px;
}

.damageEnnemy{
    animation: damage forwards;
    animation-duration: 0.5s;
}

@keyframes damage {
    0% {margin-left:10px}
    50% {margin-left:20px}
    100%{margin-left:10px}
}

.frame{
    display: none;
}

.message{
    border:10px solid rgb(21, 27, 75);
    padding:15px;
    position: absolute;
    bottom:100px;
    right: 600px;
    width: 300px;
    height: 100px;
    color:white;
    font-size: 20px;
}



/* Class "hide" to apply to remove section */
.hide{
    display: none;
}

.gameOver{
    background-color: grey;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/img/samuel-enslin-180227-jow-dsv-volcano-v06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.over{
    background-color: rgba(0, 0, 0, 0.726);
    color:rgb(125, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.champion{
    background-color: grey;
    background-image: linear-gradient(to bottom, rgba(187, 164, 164, 0.5), rgba(0, 0, 0, 0.5)), url(../src/img/win.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.win{
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
}

audio{
    opacity: 10%;
    width: 50px;
}